@charset "utf-8";

html {
    font-family: georgia, serif;
    margin-left: 100px;
}

.entry {
    width: 640px;
    min-height: 200px;
}

.entry .image {
    width: 300px;
    float: left;
    border-right: 1px black solid;
    padding-right: 20px;
}

.entry .text {
    width: 300px;
    margin-left: 320px;
    padding-left: 20px;
}