@charset "utf-8";

html {
    margin: 100px auto auto;
    width: 600px;
}

h1, h2, h3 {
	text-align: center;
	font-family: "Orbitron";
}

h1 {
	font-size: 24pt;
	display: inline;
}

h2 {
	font-size: 18pt;
	display: inline;
}

h3 {
	font-size: 16pt;
}

p {
	font-size: 14pt;
	text-align: center; 
}

#centeredcontainer {
	text-align: center; 
}
