@charset "utf-8";

#centeredcontainer {
    margin: 50px auto auto;
	text-align: center; 
    width: 600px;
}

#centeredcontainer h1 {
	font-size: 24pt;
	display: inline;
    font-family: "Orbitron";
}

#centeredcontainer h2 {
	font-size: 18pt;
	display: inline;
    font-family: "Orbitron";
}
