@charset "utf-8";

html {
	background: url(/media/site-images/frameback.svg) no-repeat #000000 fixed;
}

#left {
    float:left;
    width: 180px;
    padding-left: 5px;
}

#right {
    padding: 1px;
    margin-left: 190px;
}

#right video, object {
    display: block;
}

a {
    color: #DEDEDE;
    text-decoration: underline;
}

#left a {
    text-decoration: none;
}

.newsarticle {
    border-top: 2px solid #666    
}

.newsarticle h1 {
    margin: 0;
}

.newsarticle h1 a {
    text-decoration: none;
}

.newsarticle h1 a:visited{
    color: #666666;
}

a:hover {
    color: #999999;
}

a:visited {
    color: #8A8A8A;
}

.imagecentered {
    text-align: center;
}

#left ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#left input {
    border: 1px solid #999;
    color: #666;
}

#left button {
    margin-top: 3px;
    background: #F9F9F9;
    border: 1px solid #999;
    width: 149px;
    color: #666;
}

#footer {
    text-align: center;
    clear: both;
}

#footer div {
    margin-left: auto;
    margin-right: auto;
}

.tagmetainfo {
font-size: 8pt;
}

.tagmetainfo p {
    margin: 0;
}

.abouthighlight {
    font-size: 1.1em;
    font-weight: bold;
}

#right > p:first-child {
    margin-top: 0;
}
