@charset "utf-8";

#main {
    margin-right: auto;
}

#search {
    text-align: right;
    width: 200px;
}

#search p {
    margin: 0;
}

#reset {
    color: #666666;
    font-size: 11pt;
    height: 1.7em;
    margin-right: 1px;
    border: 2px solid #666666;
}

#searchinput {
    border: 2px solid #666666;
    color: #BBBBBB;
    font-size: 11pt;
    height: 1.7em;
    margin-left: 20px;
    padding: 0 4px;
}

#searchinput:focus {
   outline: none;
}

.searchMatchTag a {
    color: orange;
}

.searchMatchTitle {
    color: green;
}

#noresults {
    margin-left: 220px;
}

.workshopentry {
    padding: 10px 0;
    float: left;
    width: 100%;
    height: 100%;
    font-size: 11pt;
}

.nobgimg {
    background-image: none;
}

.workshopentry header {
    width: 200px;
    margin-right: 20px;
    padding-right: 20px;
    float: left;
    text-align: right;
    height: 100%
}

.workshopentry header ul {
    font-size: 1.1em;
    line-height: 1.1em;
    list-style: none outside none;
}

.workshopentry header li {
    text-decoration: underline;
    cursor: pointer;
    font-family: Inconsolata, monospace;
}

.workshopentry header p {
    margin-top: 0;
    font-family: Inconsolata, sans-serif;
}

.workshopentry header h1, .workshopentry header h5 {
    padding: 0;
    margin: 0;
}

.workshopentry .right {
    margin-left: 240px;
}

.workshopentry .right p {
    margin-top: 0;
}

.ancillaryright {
	margin-left: 240px;
}
