@charset "utf-8";

#centeredcontainer {
    margin: 50px auto auto;
    text-align: center;
    width: 720px;
}

#centeredcontainer h1 {
    font-size: 3em;
    display: inline;
    font-family: "Orbitron";
}

#centeredcontainer h2 {
    font-size: 2em;
    display: inline;
    font-family: "Orbitron";
}

@media screen and (max-width: 360px) {

    #centeredcontainer {
        margin: 10px auto auto;
        width: 340px;
    }

    #centeredcontainer h1 {
        display: block;
        font-size: 3.5em;
    }

    #centeredcontainer h2 {
        display: block;
        font-size: 2em;
    }
}

@media screen and (max-width: 598px) and (orientation: landscape) {

    #centeredcontainer {
        margin: 10px auto auto;
        width: 360px;
    }

    #centeredcontainer h1 {
        display: block;
        font-size: 3.5em;
        margin: 0;
    }

    #centeredcontainer h2 {
        display: block;
        font-size: 2em;
        margin: 0;
    }
}