@charset "utf-8";

html {
    background: #000000;
    margin: 10px auto 10px 0;
    color: #BCBCBC;
}

h1 {
	font-family: Orbitron;
}

h2, h3, h4, h5 {
	font-family: Inconsolata, monospace;
    font-size: 1em;
}

p {
	font-family: "Droid Sans", sans-serif;
	line-height: 1.3em;
}

#heading {
    margin-bottom: 0;
}

#headerhighlight{
    color: #666666;
}

#subheading {
    margin: 0 0 20px 50px;
}

a {
    color: #DEDEDE;
    text-decoration: underline;
}

a:hover {
    color: #999999;
}

a:visited {
    color: #8A8A8A;
}

.imagecentered {
    text-align: center;
}

#footer {
    text-align: center;
    clear: both;
}

pre {
    margin: 0;
}

code {
    display: block;
    color: green;
    padding-top: 2px;
    font-family: "Inconsolata", sans-serif;
	font-size: 1.2em;
    background: url("/media/site-images/linenumbers.svg") no-repeat left top;
}



footer {
    clear: both;
	font-size: 0.8em;
    text-align: center;
}

