:root {
    /* Media query sizes
     3 sizes */
    --small-upper-bound: 600px; 
    --medium-lower-bound: 601px;
    --medium-upper-bound: 900px;
    --large-lower-bound: 901px;

    /* Colours */
    --colour-deep:          hsla(210, 30%, 15%, 1);
    --colour-explore:       hsla(170, 50%, 45%, 1);
    --colour-float:         hsla(0, 0%, 100%, 1);
    --colour-whisp:         hsla(0, 0%, 100%, 0.8);
    --colour-giveup:        hsla(220, 60%, 30%, 1);
    --colour-grind:         hsla(220, 10%, 50%, 1);
    --colour-unforgiving:   hsla(180, 20%, 10%, 1);
    --colour-work:          hsla(20, 75%, 50%, 1);
}