@charset "utf-8";

.videoContainer {
  display: inline-block;
}

video, .poster {
  padding: 10px;
  border: 1px solid #DEDEDE;
}

video:fullscreen {
    border: none;
    padding: none;
    margin: none;
}
video:-webkit-full-screen {
    border: none;
    padding: none;
    margin: none;
}
video:-moz-full-screen {
    border: none;
    padding: none;
    margin: none;
}


.poster {
  position: absolute;
}

.videoControls {
  height: 24px;
  position: absolute;
  padding: 0 2px;
  /* Actual pixel positions are dynamically set in the JS file */
  progress {
    width: ~"calc(100% - 46px)";  /* LESS chokes unless this is escaped */
    float: right;
    color: #0063a6;
    background: #fff;
    margin-right: 2px;
  }
}