@charset "utf-8";

.videoContainer {
    display: inline-block;
}

video {
    padding: 10px;
    border: 1px solid #DEDEDE;
}

.startContainer {
    width: 100px;
    height: 100px;
    visibility:visible;
}

.videoControls{
    width: 80px;
    height: 40px;
    border: 1px solid #DEDEDE;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    /* Positions are dynamically set in the JS file */
}

.playPauseButton {

}

.muteButton {

}