@charset "utf-8";

.videoContainer {
  display: inline-block;
}

video {
  padding: 10px;
  border: 1px solid #DEDEDE;
}

.videoControls {
  height: 24px;
  position: absolute;
  padding: 0 2px;
  /* Actual pixel positions are dynamically set in the JS file */
  progress {
  width: ~"calc(100% - 24px)";  /* LESS chokes unless this is escaped */
  float: right;
  color: #0063a6;
  background: #fff;
  }
}