@charset "utf-8";

/* This style sheet defines the colours and fonts etc of the site */

.errorNumber {
    font-size: 36px;
}

.xhtmlw3cbox {
    margin-right: 15px;
}

.cssw3cbox {
    margin-left: 15px;
}

.noBorder {
border-width: 0;
}


.quote {
border: 1px solid #000000;
background-color: #eeeeee;
width: 80%;
padding: 3px;

}

.quotetext {
font: italic 16px arial;
color: #555555;
}

.quoteauthor {
font: italic 18px arial;
color: #888888;
}

.authorposition {
text-align: right;
}

hr {
width: 40%;
color: #000000;
background-color: #000000;
height: 5px;
}