img {
    border: 0;
}

/* Buttons */
button {
    background-color: #f5f5f5; /* The border is a seperate entity than the background */
    border: 1px solid #dedede; /* Get a drop shadow effect */
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    margin: 2px 5px 0 0;
    vertical-align: middle;
}

/* The specifics for the submit button */
.submitbutton {
}

.submitbutton:hover {
    color: green;
    background-color: #ccffcc;
    border-color: #99bb99;
    border-top-color: #bbeebb;
    border-right-color: #bbeebb;
}

.submitbutton:active {
    background-color: #aaddaa;
    border-color: #779977;
    border-top-color: #99cc99;
    border-right-color: #99cc99;
}

/* End of submit button */

/* The specifics for the reload button */
.reloadbutton:hover {
    color: blue;
    background-color: #ccccff;
    border-color: #9999bb;
    border-top-color: #bbbbee;
    border-right-color: #bbbbee;
}

.reloadbutton:active {
    background-color: #aaaadd;
    border-color: #777799;
    border-top-color: #9999cc;
    border-right-color: #9999cc;
}

/* End of reload button */

/* The specifics for the delete button */
.deletebutton:hover {
    color: red;
    background-color: #ffcccc;
    border-color: #cc9999;
    border-top-color: #ccbb99;
    border-right-color: #ccbb99;
}

.deletebutton:active {
    background-color: #ddaaaa;
    border-color: #997777;
    border-top-color: #cc9999;
    border-right-color: #cc9999;
}

/* End of delete button */
