@charset
"utf-8"
;

/* This style sheet defines the structure of the site. */

body {
    background-color: #fdfdfd;
    font-family: verdana, sans-serif;
}

.bannerDiv {
    border-bottom-width: 5px;
    border-bottom-style: double;
    border-bottom-color: #B0B0B0;
    height: 64px;
}

.bannerTitle {
    font-size: 36px;
    color: #626262;
}

.bannerSubTitle {
    position: relative;
    top: 24px;
    right: 140px;
    font-size: 20px;
    color: #ACACAC;
}

.leftDiv {
    float: left;
    width: 205px;
    border-right: double 5px #B0B0B0;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.mainDiv {
    padding-right: 215px;
    padding-left: 215px;
}

.rightDiv {
    float: right;
    width: 205px;
    border-left: double 5px #B0B0B0;
}

.footer {
    border-top: double 5px #B0B0B0;
    border-bottom: double 5px #B0B0B0;
    text-align: center;
    clear: both;
}

li.menu {
    position: relative;
    bottom: 15px;
    right: 40px;
    list-style-type: none;
    border: 1px #000000 none;
    min-width: 195px;
    display: block;
}

li.menu a {
    display: block;
    border: 1px;
    padding: 1px;
    text-decoration: none;
}

li.menu a:hover {
    border-right: 5px #B0B0B0 double;
    background-color: #F0F0F0;
    color: #0091FF;
}

.newsbox {
    border: solid 1px #000000;
    padding: 5px;
}

.newsboxheader {
    float: left;
    width: 100%;
}

.newsimage {
    border: solid 1px #000000;
    float: left;
    margin-right: 5px;
    height: 70px;
}

.title {
    font-size: 24pt;
}

.author {
    font-size: 18pt;
}

.profile {
    width: 500px;
}

.profileheader {
    height: 130px;
    padding: 3px;
}

.profileinfo {
    padding-left: 133px;
}

.profilepiccontainer {
    float: left;
}

.pseudonym {
    font-size: 18px;
}

.contact {
    font-size: 16px;
}