@charset "utf-8";

#workhistory {
    background: url(/siteimages/timlinebackground.jpg) no-repeat;
}

#workhistorybottom {
    background: url(/siteimages/timlinebottom.jpg) bottom left no-repeat;
    padding: 30px 0 5px 0;
}

#workhistorybottom > div {

    padding: 2px 5px;
}

#workhistorybottom p {
    display: block;
}

#workhistorybottom > div > h3 {
    background-color: #E1E1E1;
    color: #333333;
    margin: 0;
    border: 1px solid #EFEFEF;
}

#bitid {                        
    width: 350px;
    margin: 0 0 10px 0;
}

#qnp {
    width: 40px;
    margin: 0 0 10px 310px;
}

#indoorvball {
    width: 430px;
    margin: 0 0 10px 50px;
}

#beachvball {
    width: 165px;
    margin: 0 0 10px 315px;
}

#selfemployed {
    width: 130px;
    margin: 0 0 10px 350px;
}

.workdetails {
    width: 300px;
    background: #f9f9f9;
    padding: 1px;
    border: 1px solid #EFEFEF;
}

#bitiddetails {
    position: relative;
    left: 15px;
}

#qnpdetails {
    position: relative;
    right: 130px;
}

#indoorvalldtails {
    position: relative;
    left: 15px;
}

#beachvballdetails {
    position: relative;
    right: 155px;
}

#selfemployeddetails {
    position: relative;
    right: 190px;
}

#references > div {
    width: 240px;
}

#references ul {
    list-style: none;
    padding-left: 1em;
    text-indent: 0;
    color: #666;
}

#damianreference {
    float: right;
}

#ralfreference{
    float: left;
}

#pdflinktoresume {
    clear: both;
}