@charset "utf-8";

html {
    background: #000000 url(/site-images/background.png) no-repeat;
    color: #BCBCBC;
}

body {
    margin: 100px auto auto;
    width: 640px;
}

p {
    font-family: Georgia, san serif;
    font-size: 12pt;
}

.contentdiv {
	
	background: rgba(255, 255, 255, 0.3);	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 3px 10px;
}

#left {
	width: 200px;
	height: 200px;
	float: left;
}

#logo {
	width: 200px;
	height:200px;
	padding 0;
	margin 0;
}

#right {
	margin-left: 240px;
    height: 200px;
}

#right * {
    padding: 0;
	margin: 0;
}

#right h1 {
    font-family: arial, san serif;
}

#right h2 {
    font-family: arial, san serif;
}

.contentdiv a {
    color: #BCBCBC;
}

.contentdiv a :hover{
    color: #BCBCBC;   
}

.contentdiv a :visited {
    color: #646464;
}

.contentdiv a :active {
    color: #969696;
}

#aboutdiv {
    padding: 3px 10px;
    margin: 20px 0 0 240px;
}

#abouth3 {
    text-decoration: underline;
    cursor: pointer;
}

#aboutdiv p {
    padding: 0;
    margin: 0;
}

#aboutclose {
    margin-left: 90%;
    text-decoration: underline;
    cursor: pointer;
}

#nojavascript {
    padding: 3px 10px;
    position: absolute;
    top: 40px;
    width: 620px;
}
